# Testing/development requirements
spacy>=3.0.0
pytest>=5.0.1
flake8>=3.8.0,<6.0.0

# spacy-loggers also implicitly depends on spacy, but we won't say so because
# we need spacy to depend on spacy-loggers, to make sure it's installed for
# backwards compatibility.
